DATABASE_URL=postgresql+asyncpg://postgres:changeme@localhost:5434/mind_trace_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=mind_trace_db
POSTGRES_MAX_CONNECTIONS=1024
# PGPORT=5434

